body{
    background-color:   hsl(0, 0%, 8%);
    margin: 30rem;
    display: flex;
    justify-content: center;

}
.jml{
    background-color:  hsl(0, 0%, 12%) ;
    width:100%;
    border-radius: 1.5rem;


}
.image img{
    border-radius:  360px; 
    margin: 8% 33% 0 33%;
    
}
h1{
    color: white;
    padding-left: 32%;
}
.jml1 h3{
    color: rgb(188, 226, 21);
    padding-left: 32%;
    margin-top: 0rem;
   
   
}
p{
    color: white;
    padding-left: 28%;
    margin-top: 3rem;
    margin-bottom: 2rem;
    
}
.Github{
    background-color: hsl(0, 0%, 20%);
    padding :0.1rem 14rem 0.1rem 14rem;
    margin : 1rem 2rem 1rem 2rem ;
    border-radius: 0.8rem;
    color: white;
}
.Frontendmentor{
    background-color: hsl(0, 0%, 20%);
    padding :0.1rem 11rem 0.1rem 11rem;
    margin : 1rem 2rem 1rem 2rem ;
    border-radius: 0.8rem;
    color: white;
}
.Linkdin{
    background-color: hsl(0, 0%, 20%);
    padding :0.1rem 13.5rem 0.1rem 13.5rem;
    margin : 1rem 2rem 1rem 2rem ;
    border-radius: 0.8rem;
    color: white;
}
.Twitter{
    background-color: hsl(0, 0%, 20%);
    padding :0.1rem 14rem 0.1rem 14rem;
    margin : 1rem 2rem 1rem 2rem ;
    border-radius: 0.8rem;
    color: white;
}
.Instagram{
    background-color: hsl(0, 0%, 20%);
    padding :0.1rem 13rem 0.1rem 13rem;
    margin : 1rem 2rem 2rem 2rem ;
    border-radius: 0.8rem;
    color: white;
}